<div class="weekly-news-area pt-50">
  <div class="container">
    <div class="weekly-wrapper">
      <!-- section Tittle -->
      <div class="row">
        <div class="col-lg-12">
          <div class="section-tittle mb-30">
            <h3>Weekly Top News</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="weekly-news-active dot-style d-flex dot-style">
            <div
              class="weekly-single"
              *ngFor="let item of weeklyItem; let i = index"
            >
              <div class="weekly-img">
                <img src="{{ item.pic }}" alt="" />
              </div>
              <div class="weekly-caption">
                <span class="color1">{{ item.title }}</span>
                <h4>
                  <a [routerLink]="['/common', i]">{{ item.desc }}</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
